@model RestauranteStore.Entities.Entities.Pedido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoPedido.EstadoPedidoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoPedido.EstadoPedidoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.NombrePersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.NombrePersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadPlato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadPlato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoPagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoPagar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
