@model IEnumerable<RestauranteStore.Entities.Entities.Reserva>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mesa.MesaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mesa.MesaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservaId })
        </td>
    </tr>
}

</table>
