@model RestauranteStore.Entities.Entities.Proveedor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Almacen.AlmacenId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Almacen.AlmacenId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProveedorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
